@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4 text-warning">Witamy w wypożyczalni samochodowej</h1>
    <p class = "text-warning">Wypożycz swój wymarzony samochód i wyrusz w świat!</p>
</div>