@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witamy w wypożyczalni samochodowej</h1>
    <p>Wypożycz swój wymarzony samochód i podróżuj w świat!</a>.</p>
</div>